@media screen and (max-width:400px)	{
	#main-container	{
		position:absolute !important;
		background-color:rgba(255,255,255,1) !important;
		left:-3px;
		top:0px !important;
		padding-left:20px !important;
		min-height:100%;
		text-align:left !important;
	}
	div#login-logo	{
		text-align:left;
	}
	.form-row-3	{
		text-align:left !important;
	}
	.input-class	{
		/*float:left;*/
		width:280px !important;
		border:1px solid #191990;
		margin-left:0px !important;
	}
	.form-labels	{
		margin-left:0px !important;
	}
	
	.form-row-2 table	{
		margin-left:0px !important;
	}
	.login-message	{
		margin-left:0px !important;
	}
/* 	#main-section	{
		position:absolute;
		left:-3px;
		padding:2%;
		min-height:100%;
		min-width:100%;
	} */
}

body	{
	background:url(../img/bg.jpg);
	font-family: 'Ubuntu', sans-serif;
}
/* #bg-window	{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
	background:#000;
	opacity:0.4;
} */
#err1{
	background-color:#D33030;
	border-radius:4px;
	font-size:1em;
	color:#fff;
}

#fp-link:link	{
	color:#191970;
	text-decoration:none;
}
#fp-link:visited	{
	color:#191970;
}
#fp-link:hover	{
	color:#006F93;
}
.err{
	color:red;
}

#main-container	{
	position:relative;
	top:50px;
	border:1px solid #ddd;
	/*border-radius:5px;*/
	/*box-shadow:0px 0px 5px #000;*/
	margin-left:auto;
	margin-right:auto;
	background-color:rgba(255,255,255,1);
	width:400px;
	min-height:420px;
	z-index:2;
}

#main-container-2	{
	position:relative;
	top:50px;
	border:1px solid #C4C4C4;
	border-radius:5px;
	/*box-shadow:0px 0px 5px #000;*/
	margin-left:auto;
	margin-right:auto;
	background-color:#F9F7F7;
	width:400px;
	height:220px;
	text-align:center;
	z-index:2;
}
/* #main-section	{
	width:500px;
	height:450px;
	margin-left:auto;
	margin-right:auto;
	border:4px solid white;
	background:#fff;
} */
.inp-button	{
	/*width:30%;*/
	padding:4px;
	border:1px solid #008CBA;
	cursor:pointer;
	font-size:0.9em;
	color:#fff;
	background-color:#008CBA;
	text-decoration:none;
	margin-left:2%;
	margin-right:2%;
}

.inp-button:hover	{
	background:#006F93;
	border:1px solid #006F93;
	
}
.input-class	{
	/*float:left;*/
	width:350px !important;
	border:1px solid #191990;
	border-radius:3px;
	height:30px;
	margin-left:20px;
}
.login-message	{
	border-radius:0 !important;
	min-width:200px !important;
	font-size:13px;
	margin-top:5px;
	padding:3px 10px !important;
	text-align:center;
}

.form-labels	{
	margin-left:20px;
	font-family: 'Calibri light', sans-serif;
	font-size:16px;
}

.msg-default	{
	text-align:center;
	font-family: 'Calibri', sans-serif;
	font-size:20px;
	font-weight:bold;
}

.form-row-2,.form-row-3	{
	text-align:center;
}

.form-row-2 table	{
	margin-left:20px;
}

.form-row-2 table td	{
	padding-right:20px;
}

.form-row-3	{
	margin-bottom:30px;
}

.rem-mechk,.frgt-section	{
	float:left;
}

#login-logo	{
	text-align:center;
}
