
@media (min-width:0px) and (max-width: 1000px) {
  #pro-section	{
	  display:none;
  } 
  div#header-container	{
	  display:none;
  }
  div#side-nav	{
	  display:block;
  }
  body header	{
	  display:none;
  }
}
/* #proimg img	{
	width:55%;
	margin-top:10%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	border:1px solid #DDDCDC;
} */
#proimg	{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#pic-link:link	{
	text-decoration:none;
	color:#fff;
}
#pic-link:visited	{
	color:#fff;
}

#change-image-section	{
	width:140px;
	text-align:center;
	background-color:rgba(0,0,0,0.5);
	margin-top:-40px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	padding:2%;
	color:#fff;
	opacity:0.8;
	/*z-index:1001;*/
}
#pro-section	{
	background:#fafafa;
}

#detl-section	{
	background:#fdfdfd;
}
/* #profile-section	{
	float:left;
	width:22%;
} */
/* #detl-section	{
	width:75%;
	margin-left:25%;
} */



/* 
#int-section	{
	margin:4%;
	padding:2%;
} */


#tag-res span.tag-name	{
	border-radius:3px;
	font-size:12px;
	color:#fff;
	margin-right:5px;
	background-color:#195971;
	cursor:pointer;
	padding:3px;
}

#tag-res span.tag-name:after	{
	border-radius:3px;
	content:"x";
	color:#fff;
	margin-left:8px;
	background-color:#195971;
	cursor:pointer;
}

#tag-res	{
	line-height:2em;
}
#user-interest-sec	{
	margin-left:20px;
	margin-right:20px;
	line-height:2em;
}
.header-group	{
	
}
.profile-edit	{
		margin-right:10px;
}


#side-nav	{
	display:none;
}
#media-image img{
	margin-left:10px;
}
#row-one {
	margin-bottom:10px;
}

#srch-box-media	{
	/*margin-top:10px;*/
	/*width:400px;*/
}
#media-titl span	{
	font-size:15px;
	margin-left:10px;
}
#page-title span{
	font-size:18px;
	text-align:center;
	font-weight:bold;
}
#nav-id	{
	/*float:left;*/
	padding-left:0px;
	cursor:pointer;
	/*border:1px solid cyan;*/
	height:40px;
	width:40px;
}
#options-menu	{
	display:none;
	margin-left:10px;
	position:fixed;
	top:0;
	left:0;
	float:left;
	background:#fff;
	width:250px;
	height:100%;
	z-index:1000;
	overflow-y:scroll;
}
.side-bar	{
	height:6px;
	width:40px;
	background:#000;
	margin-top:8px;
	/*border:1px solid black;*/
}

#block	{
	display:none;
	position:fixed;
	top:0;
	left:0;
	background:transparent;
	width:100%;
	height:100%;
	z-index:900;
}
.options-navigation:link	{
	/*width:100px;*/
	margin-left:10px;
	margin-top:5px;
	display:block;
	font-size:14px;
	color:#000; 
}

.options-navigation:visited	{
	color:#000;
}
#options-menu a {
	color:#000;
}

#row-1,#row-2,#row-3,#row-4	{
	/*display:block;*/
}

#tag	{
	display:none;
	margin-left:20px;
	margin-right:20px;
}
.disp-tags	{
	background-color:#17A589 !important;
	border-radius:2px !important;
	margin-right:5px !important;
	margin-bottom:5px;
}

.td-col-1	{
	font-size:13px;
	color:#787878;
	margin-right:20px;
	padding-right:8px;
}
.td-col-2	{
	font-size:13px;
}

.msg-profile	{
	font-size:13px;
	margin-top:5px;
	padding:3px 10px !important;
}

.btn-disabled	{
	cursor:not-allowed;
	background-color:#ddd !important;
	border:none !important;
}

#main-profile-section	{
	min-height:500px;
}

#userid-text	{
	text-align:center;
	font-family:"Courier new",sans-serif;
	font-size:18px;
}

.user-qstn-row	{
	background-color:#fff;
	padding-left:6px;
	padding-right:6px;
	padding-top:3px;
	padding-bottom:3px;
	border:1px solid #ddd;
}

.qstn-ts	{
	font-size:13px !important;
	color:#979797;
	font-weight:bold;
	font-family:"Courier New",sans-serif;
}
#user-interest-text	{
	margin-left:15px;
	font-weight:bold;
	font-family:'Calibri',sans-serif;
}
.disp-tags-user	{
	background-color:#F2F8FF !important;
	border-radius:2px !important;
	border:1px solid #73ACFF;
	color:#73ACFF !important;
}

.stats-list	{
	border:0px !important;
	/*border-bottom:1px !important;*/
}
.stat-count 	{
	background-color:#2e6da4 !important;
	color:#fff !important;
	border-radius:2px !important;
}
.page-title-section	{
	background-color:#2e6da4;
	color:#fff;
	padding:10px;
	border-radius:4px;
	font-family:'Calibri',sans-serif;
}
.abt-section	{
	font-family:Tahoma,Helvetica,sans-serif;
	font-size:13px;
	color:#aaa;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding:4px;
}
.interest-panel	{
	border-bottom:1px solid #ddd;
	background-color:#fff;
	border:1px solid #eee;
}
.btn-section	{
	text-align:center;
}
.btn-section button	{
	margin-left:5px;
	margin-right:5px;
	box-shadow: inset 0.5px 1px 0 #ddd;
	font-family:"Calibri",sans-serif;
}
.btn-disabled	{
	background-color:#ddd !important;
	border:none !important;
}
.msg-textarea	{
	font-family:"Quicksand",sans-serif;
}
.message-section	{
	text-align:left !important;
}

#propic-div	{
	background-size:cover;
	background-position:center;
	margin-top:20px;
	width:160px;
	height:200px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

/**/
.detl-sec	{
	font-size:15px;
	line-height:2em;
	font-family:'Calibri',Helvetica,Tahoma,Arial,sans-serif;
}

#edit-profile-section,#edit-interest-section,#upd-img-section	{
	display:none;
	position:absolute;
	left:10%;
	right:10%;
	margin-left:auto;
	margin-right:auto;
	padding:4px;
	background:rgba(255,255,255,1);
	width:70%;
	border:2px solid #eee;
	border-radius:15px;
	z-index:2;
}

#upd-img-section	{
	width:30%;
	top:20%;
	padding:10px;
}
.x-win	{
	font-size:20px;
	margin-right:10px;
	float:right;
	font-weight:600;
	cursor:pointer;
}
.x-win:hover	{
	color:blue;
}

#mid-element	{
	font-size:14px;
	text-align:center;
}
#or-sec	{
	border-radius:80px;
	background-color:#286090;
	color:#fff;
	padding:8px;
}

#msg-log	{
	text-align:center;
}

#success-msg	{
	font-weight:bold;
	padding:2px 3px !important;
}

.qstn-row	{
	background-color:#fff;
	padding:4px 6px;
	border:1px solid #eee;
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);
}
.bk-section	{
	display:none;
	position:fixed;
	top:0;
}
.profile-info	{
	display:none;
	font-size:12px;
	color:#337ab7;
	padding-left:3px;
	padding-right:3px;
	padding-top:2px;
}
