@media (min-width:0px) and (max-width: 1000px) {
  #side-qstn-cat	{
	  display:none;
  }
  div#header-container	{
	  display:none;
  }
  div#side-nav	{
	  display:block;
  }
}
@media (max-width:1200px)	{
  #fixed-div-layout	{
	  width:150px !important;
  }
}
#sort-list	{
	width:200px;
	float:right;
}
#filter-list	{
	width:200px;
	float:right;
}

#list-option-section	{
	text-align:right;
}

#side-nav	{
	display:none;
}
#media-image img{
	margin-left:10px;
}
#row-1	{
	margin-bottom:10px;
}

#srch-box-media	{
	/*margin-top:10px;*/
	/*width:400px;*/
}
#media-titl span	{
	font-size:15px;
	margin-left:10px;
}
#page-title span{
	font-size:18px;
	text-align:center;
	font-weight:bold;
}
#nav-id	{
	/*float:left;*/
	padding-left:0px;
	cursor:pointer;
	/*border:1px solid cyan;*/
	height:40px;
	width:40px;
}
#options-menu	{
	display:none;
	margin-left:10px;
	position:fixed;
	top:0;
	left:0;
	float:left;
	background:#fff;
	width:250px;
	height:100%;
	z-index:1000;
	overflow-y:scroll;
}
.side-bar	{
	height:6px;
	width:40px;
	background:#000;
	margin-top:8px;
	/*border:1px solid black;*/
}

#block	{
	display:none;
	position:fixed;
	top:0;
	left:0;
	background:transparent;
	width:100%;
	height:100%;
	z-index:900;
}
#user-qstn td 	{
	width:50px;
}
#options-menu a  {
	color:#000;
}

.toggle-ans-sec,.toggle-top-ans-sec	{
	display:none;
	overflow-y:scroll;
	max-height:450px;
}
.ans-hidden-sec,.ans-front-hidden-sec,.ans-hidden-top-sec{
	background-color: #ffffff;
    font-size: 12px;
    padding: 4px;
    text-align: justify;
    margin-left: 1%;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px #ddd;
}
/* .ans-front-hidden-sec	{
	margin-left:1%;
} */
.photo-ans-sec	{
	float:left;
	width:35px;
	height:35px;
	border:1px solid #ddd;
	border-radius:20px;
}

.ans-text-section	{
	margin-left:40px;
	margin-right:20px;
}

.no-ans-section	{
	font-size:13px;
	font-weight:bold;
}

.auth-text-section	{
	float:left;
	margin-left:5px;
}

.time-sec	{
	color:#A5A5A5;
	font-size:12px;
}

.tag-section	{
	width:60%;
}

.ans-toggle {
	font-size:12px;
}

.qstn-topic-section	{
	font-size:12px;
	color:#aaa;
}

.auth-section	{
	float:left;
	margin-left:5px;	
	font-size:13px;
	color:#8E8E8E;
}

.user-img-section	{
	float:left;
	border-radius:20px;
}

.titl-link	{
	margin-left:5px;
	font-weight:bold;
}
.voting-links	{
	font-size:13px;
}

.dropdown-opt	{
	/*max-width: 250px;*/
	margin-right:10px;
	margin-bottom:5px;
}

#filter-section	{
	float:left;
} 

#filter-submit	{
	background-color:#008CBA;
	margin-bottom:5px;
	color:#fff;
	border:none;
}
.glyph-upvoted	{
	font-size:16px;
	font-weight:bold !important;
	color:green;
}
.glyph-downvoted	{
	font-size:16px;
	font-weight:bold !important;
	color:brown;
}
.upvote-badge	{
	border-radius:4px !important;
	background-color:#4CAF50 !important;

}
.downvote-badge	{
	border-radius:4px !important;
	background-color:#d9534f !important;
}
.ans-msg	{
	font-size:12px;
	color:#65A668 !important;
	/*font-weight:bold;*/
}

.glyph-ans-upvoted	{
	font-size:16px;
	font-weight:bold !important;
	color:green;
}
.glyph-ans-downvoted	{
	font-size:16px;
	font-weight:bold !important;
	color:brown;
}

.upvote-ans-badge	{
	border-radius:4px !important;
	background-color:#4CAF50 !important;

}
.downvote-ans-badge	{
	border-radius:4px !important;
	background-color:#d9534f !important;
}
/* .user-ans-section	{
	display:inline-block;
}
.post-ans-mobile	{
	margin-right:0%;
} */
#fixed-div-layout	{
	position:fixed; 
	background-color:#F1F1F1;
	width:180px;
	/*margin-left:-45px;*/
	padding-left:15px;
}
#scroll-msg	{
/*	background-color:#F2F2F2;
	border:4px solid #F7F7F7;
	border-radius:10px;*/
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	font-weight:bold;
	font-size:16px;
}
#qstn-res	{
	min-height:400px;
}
.ans-load	{
/*	display:none;*/
	text-align:center;
	font-size:12px;
	font-weight:bold;
}
.comment-box {
	/*display:none;*/
	overflow-y:auto;
}

.user-comment-sec	{
	background-color: #f9f9f9;
    padding: 5px 5px 5px;
    margin-bottom: 10px;
    font-size: 12px;
    box-shadow: 1px 2px 2px #ddd;
}

.comment-section	{
	display:none;
	margin-left:10px;
	overflow-y:auto;
	max-height:500px;
}

.comment-inp	{
	width:500px !important;

}

.comments-list	{
	margin-left: 30px;
    margin-right: 30px;
    /* border-left: 2px solid #195971; */
    /* background-color: #F7F7F7; */
    /* border-top: 1px solid #F3F3F3; */
    /* border-bottom: 1px solid #F3F3F3; */
    /* border-right: 1px solid #F3F3F3; */
    max-height: 220px;
    overflow-y: auto;
}

.show-comment-text	{
	font-size:13px;
	cursor:pointer;
	color:#337ab7;
	
}

.user-card-section	{
	width:300px;
	/*max-width:350px;*/
	/*max-height:250px;*/
	min-height:260px;
	word-wrap:break-word;
	position:fixed;
	/*left:70px;*/
	background-color:rgba(255,255,255,1);
	display:none;
	/*border:1px solid #ddd;*/
	z-index:100;
    box-shadow: 1px 1px 7px 1px #ABABAB;
}

.user-card-image	{
	width:80px;
	height:100px;
	border-radius:10px;
	/*float:left;*/
	margin-left:10px;
	margin-top:5px;
}
.user-card-image:hover	{
	
}
.user-name-card	{
	color:#fff;
	float:right;
	margin-right:10px;
}
.card-disp-name	{
	font-family:"Calibri",sans-serif;
	font-size:16px;
}

.card-top-bar	{
	color:#fff !important;
	background-color:#286090;
	height:25px;
}

.interest-user-card	{
	font-size:13px;
	margin-left:10px;
	margin-right:10px;
}
.about-user-card{
	text-align:center;
	font-size:12px;
	float:left;
	width:200px;
	margin-left:20px;
	margin-right:20px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.card-more-text	{
	float:left;
	font-size:12px;
}

.vote-data-card	{
	text-align:center;
}

.label-text	{
	height:20px;
}

.interest-badge	{
	background-color:#17A589 !important;
	border-radius:2px !important;
}

.upvote-logo,.downvote-logo	{
	width:20px;
	height:20px;
	border-radius:20px;
	float:left;
}
.vote-up-card,.vote-down-card	{
	float:left;
	text-align:center;
	margin-right:auto;
}
.line-follow-card	{
	font-family:'Calibri',sans-serif;
	font-size:15px;
}
.vote-down-card	{
	margin-left:10px;
}
.upvote-logo	{
	background-color:#BEFFA6;
}
.downvote-logo	{
	background-color:#FFB5B5;
}

.vote-section-card	{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
.follow-user-card{
	text-align:center;
}
.follow-user-card button	{
	font-family:'Calibri',sans;
	font-size:16px;
	padding:1px 5px;
	text-align:center;
}
.btn-disabled	{
	background-color:#ddd !important;
	border:none !important;
}

.follow-msg-section	{
	text-align:center;
	font-size:12px;
}
.userid-text	{
	font-family:"Courier new",sans-serif;
}

.right-column	{
	border-left:1px solid #ddd;
}
.profile-link	{
	margin-left:10px;
	font-family:'Calibri',sans;
	font-size:12px;
}
.msg-profile	{
	margin-top:5px !important;
	padding:3px 10px !important;
	text-align:center !important;
}

.message-section button	{
	text-align:center;
}
.msg-textarea	{
	font-family:"Quicksand",sans-serif;
}

.cont-sep	{
	position:relative;
	top:-3px;
	font-size:30px;
	padding:2px;
	color:#aaa;
}

.bkmrk-qstn	{
	cursor:pointer; 
}

.qstn-time-sec	{
	font-size:11px;
}
#explore-btn,#explore-ans-btn,#explore-top-ans-btn	{
	padding:2px 3px !important;
	font-size:13px !important;
	font-family:"Calibri",Verdana,Helvetica,Arial,sans-serif;
}
#detl-section	{
	min-height:90%;
}

/* view add */
.view-section	{
	color:#23527c !important;
	font-family:"Calibri",Helvetica,Arial,sans-serif;
	background-color:#CCE6EF !important;
	border-radius:4px !important;
	font-size:14px !important;
}

/* start of ans caption add*/

.ans-cap {
	display:none;
	font-size:13px;
	color:#195971;
	width:100%;
	background-color:#fff;
	padding:2px; 
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	/*padding-bottom:0px;*/
}
/* end */