@media (min-width:0px) and (max-width: 1000px) {
 
  div#header-container	{
	  display:none;
  }
  div#side-nav	{
	  display:block;
  }
}
body	{
	font-family: 'Ubuntu', sans-serif;
}

#q-desc-area	{
	color:#000;
}
#q-titl-area	{
	font-size:1.3em;
	font-weight:bold;
}
#q-titl-area hgroup	{
	margin-left:50px;
}
#q-sub-titl	{
	font-size:0.8em;
	color:#919191;
	margin-left:10px;
}
#q-desc-area	{
	background-color:#FCFAF9;
	border:1px solid #DDDCDC;
	/*padding:1%;*/
}
#q-titl-area	{
	color:#21618C;
}
#msg	{
	/*border:1px solid black;*/
	display:none;
	/*background-image:url('../ajax-loader.gif');/* scroll no-repeat 5px 50% transparent;*/
}
.ans-section	{
	border:1px solid #eee;
	background-color:#fdfdfd;
	text-align:justify;
	box-shadow:1px 1px 2px #eee;
	padding: 15px 15px;
}
.msg-section	{
	color:#fff;
	background-color:#ECECEC;
	padding:3px 2px 3px 2px;
}

#load-section	{
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	width: 40px;
    height: 40px;
	background-image: url(../img/ajax-loader.gif);
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:center;
	background-size: 40px 40px;
	z-index:3;
}

#block-container	{
	display:none;
	position:fixed;
	background-color:#000;
	opacity:0.8;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:2;
}
/* .up-down-section	{
	border:1px solid black;
	width:20%;
	float:left;
}
.vote-section	{
	border:1px solid black;
	width:30%;
} */
.ans-user-img {
	border:1px solid #ddd;
	border-radius:20px;
	height:35px;
	width:35px;
	float:left;
}
.auth-time-section	{
	float:left;
	font-size:13px;
	color:#888;
	margin-left:5px;
}
.main-ans-block	{
	text-align:justify;
	margin-left:40px;
	font-size:13px;
}

#ans-desc-area	{
	/*margin-left:4px;*/
	
}

#ans-title	{
	/* float:left;
	font-weight:bold; */
	/*font-size:0.8em;*/
}
#sub-link:link	{
	background-color: #0084AF;
	border:1px solid #0084AF;
	color:#fff;
	border-radius:3px;
	box-shadow:inset 0.5px 0.2px 0.5px #fff;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:8px;
	padding-right:8px;
	text-decoration:none;
}
#sub-link:visited	{
	color:#fff;
} 

#sub-link:hover	{
	background-color:#006A8D;
}

.comment-box {
	display:none;
	overflow-y:auto;
}

.user-comment-sec	{
	background:#fff;
	margin-left:10px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:13px;
	margin-top:10px;
}

#block	{
	display:none;
	position:fixed;
	top:0;
	left:0;
	background:transparent;
	width:100%;
	height:100%;
	z-index:900;
}

.time-sec	{
	color:#A5A5A5;
	font-size:12px;
}

.vote-sec	{
	margin-right:4px;
}
.vote-link-area:link	{
	font-size:0.9em;
	color:#000;
	padding:0.5%;
	text-decoration:none;
}

.vote-link-area:visited	{
	color:#000;
}
.vote-link-area:hover	{
	opacity:0.7;
}

.glyph-ans-upvoted	{
	font-size:16px;
	font-weight:bold !important;
	color:green;
}
.glyph-ans-downvoted	{
	font-size:16px;
	font-weight:bold !important;
	color:brown;
}

.upvote-ans-badge	{
	border-radius:4px !important;
	background-color:#4CAF50 !important;

}
.downvote-ans-badge	{
	border-radius:4px !important;
	background-color:#d9534f !important;
}
.comment-link	{
	font-size:13px;
}

.user-qstn-image	{
	width:40px;
	height:40px;
	border-radius:30px;
	float:left;
}
.user-card-section	{
	width:300px;
	/*max-width:350px;*/
	/*max-height:250px;*/
	min-height:260px;
	word-wrap:break-word;
	position:absolute;
	left:70px;
	background-color:rgba(255,255,255,1);
	display:none;
	/*border:1px solid #ddd;*/
	z-index:100;
    box-shadow: 1px 1px 7px 1px #ABABAB;
}

.user-card-image	{
	width:80px;
	height:100px;
	border-radius:10px;
	/*float:left;*/
	margin-left:10px;
	margin-top:5px;
}
.user-card-image:hover	{
	
}
.user-name-card	{
	color:#fff;
	float:right;
	margin-right:10px;
}

.card-top-bar	{
	background-color:#008CBA;
	height:30px;
}
.card-disp-name	{
	font-family:"Calibri",sans-serif;
	font-size:16px;
}
.interest-user-card	{
	font-size:13px;
	margin-left:10px;
	margin-right:10px;
}
.about-user-card{
	text-align:center;
	font-size:12px;
	float:left;
	width:200px;
	margin-left:20px;
	margin-right:20px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.card-more-text	{
	float:left;
	font-size:12px;
}

.vote-data-card	{
	text-align:center;
}

.label-text	{
	height:20px;
}

.interest-badge	{
	background-color:#17A589 !important;
	border-radius:2px !important;
}

.upvote-logo,.downvote-logo	{
	width:20px;
	height:20px;
	border-radius:20px;
	float:left;
}
.vote-up-card,.vote-down-card	{
	float:left;
	text-align:center;
	margin-right:auto;
}
.line-follow-card	{
	font-family:'Calibri',sans-serif;
	font-size:15px;
}
.vote-down-card	{
	margin-left:10px;
}
.upvote-logo	{
	background-color:#BEFFA6;
}
.downvote-logo	{
	background-color:#FFB5B5;
}
.follow-logo	{	
	background-color:#AAE8FF;
}

.vote-section-card	{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
.follow-user-card{
	text-align:center;
}
.follow-user-card button	{
	font-family:'Calibri',sans;
	font-size:16px;
	padding:1px 5px;
	text-align:center;
}
.btn-disabled	{
	background-color:#ddd !important;
	border:none !important;
}

.follow-msg-section	{
	text-align:center;
	font-size:12px;
}

/*end of card */

.qstn-desc-section	{
	font-family: 'Calibri', sans-serif;
	font-size:18px;
}

.comment-box {
	/*display:none;*/
	overflow-y:auto;
}

.user-comment-sec	{
	background-color: #f9f9f9;
    padding: 5px 5px 5px;
    margin-bottom: 10px;
    font-size: 12px;
    box-shadow: 1px 2px 2px #ddd;
}

.comment-section	{
	background-color:#fff;
	/*border:1px solid #ddd;*/
	font-size:12px;
	display:none;
	margin-left:10px;
}
.cmnt-section	{
	max-height: 220px;
    overflow-y: auto;
	margin-left:10px;
}
.comment-inp	{
	width:500px !important;

}

.comments-list	{
    margin-right: 30px;
}

.show-comment-text	{
	font-size:13px;
	cursor:pointer;
	color:#337ab7;
	
}
#left-section	{
	min-height:450px;
}

.userid-text	{
	font-family:"Courier new",sans-serif;
}

.right-column	{
	border-left:1px solid #ddd;
}
.profile-link	{
	margin-left:10px;
	font-family:'Calibri',sans;
	font-size:12px;
}

.msg-profile	{
	margin-top:5px !important;
	padding:3px 10px !important;
	text-align:center !important;
}

.message-section button	{
	text-align:center;
}
.msg-textarea	{
	font-family:"Quicksand",sans-serif;
}
